# TODO: remove this
WILLIE_API_TOKEN=replace_with_real_token
ORANGE_LIVE_OBJECTS_API_KEY=replace_with_real_api_key

# Client id & secret Partageons l'Eau
PLE_BASE_URL=http://localhost:5000
CLIENT_ID=
CLIENT_SECRET=

# Sentry config
SENTRY_DSN=
SENTRY_ENV=

# Redis config (required for BullMQ workers - background job processing)
REDIS_URL=redis://localhost:6380
REDIS_TLS_CA_FILE_PATH=
